<h1>Listing employee_territories</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Territory</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @employee_territories.each do |employee_territory| %>
      <tr>
        <td><%= employee_territory.employee_id %></td>
        <td><%= employee_territory.territory_id %></td>
        <td><%= link_to 'Show', employee_territory %></td>
        <td><%= link_to 'Edit', edit_employee_territory_path(employee_territory) %></td>
        <td><%= link_to 'Destroy', employee_territory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee territory', new_employee_territory_path %>
