<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @customer_customer_demo.customer_id %>
</p>

<p>
  <strong>Customer demographic:</strong>
  <%= @customer_customer_demo.customer_demographic_id %>
</p>

<%= link_to 'Edit', edit_customer_customer_demo_path(@customer_customer_demo) %> |
<%= link_to 'Back', customer_customer_demos_path %>
