<p id="notice"><%= notice %></p>

<p>
  <strong>Customerid:</strong>
  <%= @customercustomerdemo.CustomerID %>
</p>

<p>
  <strong>Customertypeid:</strong>
  <%= @customercustomerdemo.CustomerTypeID %>
</p>

<%= link_to 'Edit', edit_customercustomerdemo_path(@customercustomerdemo) %> |
<%= link_to 'Back', customercustomerdemos_path %>
