<p id="notice"><%= notice %></p>

<p>
  <strong>Customertypeid:</strong>
  <%= @customerdemographic.CustomerTypeID %>
</p>

<p>
  <strong>Customerdesc:</strong>
  <%= @customerdemographic.CustomerDesc %>
</p>

<%= link_to 'Edit', edit_customerdemographic_path(@customerdemographic) %> |
<%= link_to 'Back', customerdemographics_path %>
