<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @territory.id %>
</p>

<p>
  <strong>Territorydescription:</strong>
  <%= @territory.TerritoryDescription %>
</p>

<p>
  <strong>Region:</strong>
  <%= @territory.region_id %>
</p>

<%= link_to 'Edit', edit_territory_path(@territory) %> |
<%= link_to 'Back', territories_path %>
