<%= form_for(@employeeterritory) do |f| %>
  <% if @employeeterritory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employeeterritory.errors.count, "error") %> prohibited this employeeterritory from being saved:</h2>

      <ul>
      <% @employeeterritory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :EmployeeID %><br>
    <%= f.number_field :EmployeeID %>
  </div>
  <div class="field">
    <%= f.label :TerritoryID %><br>
    <%= f.text_field :TerritoryID %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
