<p id="notice"><%= notice %></p>

<p>
  <strong>Employeeid:</strong>
  <%= @employeeterritory.EmployeeID %>
</p>

<p>
  <strong>Territoryid:</strong>
  <%= @employeeterritory.TerritoryID %>
</p>

<%= link_to 'Edit', edit_employeeterritory_path(@employeeterritory) %> |
<%= link_to 'Back', employeeterritories_path %>
